
    
     body {
        background-color: black;
    }

     p {
        color: white;
    }

     h1 {
        color: white;
    }

     a {
        color: white;
        text-decoration: none;
    }

     footer {
        color: white;
    }

     form{
        text-align: right;
    }

        .logo{
        color: aliceblue;
    }

        img{
        border: rgba(121, 166, 156, 0.765) solid;
    }

     input[type="text"]{
        border:  rgba(121, 166, 156, 0.765) solid;
        font-size: 20px;
    }

     .Buscador{
        border:  rgba(121, 166, 156, 0.765) solid;
        font-size: 20px;
    }
  
    .fotodetail {
        display: flex;
        flex-wrap: wrap;
    }

    .integrantes{
        margin-top: 20px;
    }
    
    @media (max-width: 390px){
        .indice{
            margin-top: 20px;
        }
        .integrantes{
            margin-top: 20px;
        }
        header a {
            font-size: 25px;
        }
        .indice{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
}

@media(max-width: 620px){
    .indice{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
}
