body {
    background-color: black;
}

p {
    color: white;
}

h1 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
}

form{
    text-align: right;
}

.logo{
    color: aliceblue;
}

input[type="text"]{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

.Buscador{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

article{
    color: white;
    border:  rgba(121, 166, 156, 0.765) solid;
    width: 100px;
}

.chico{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}

.grande{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    flex-wrap: wrap;
}

footer{
    margin-top: 300px;
}

.titulo{
    margin-left: 125px; 
}

