*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

p {
    color: white;
}

h1 {
    color: white;
}
h2 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
}

form{
    text-align: right;
}

.logo{
    color: aliceblue;
}

input[type="text"]{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

.Buscador{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

article{
    color: white;
    border:  rgba(121, 166, 156, 0.765) solid;
    width: 100px;
}

.navgenero {
    display: inline-block;
    text-align: center;
}

.itemgenero {
    display: inline-block;
    text-align: center;
    background-color: grey;
    color: black;
    margin: 5px;
    padding: 50px 30px;
    text-decoration: none;
    height: auto;
    width: 200px;
}

.itemgenero:hover{
    background-color: beige;
    text-decoration: none;
}
footer{
    margin-top: 300px;
}

.titulo{
    margin-left: 125px; 
}

