form{
    text-align: right;
}

body {
    background-color: black;
}

p {
    color: white;
}

h1 {
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

footer {
    color: white;
}

.logo{
    color: aliceblue;
}

input[type="text"]{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

.Buscador{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

h2{
    color: white;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

article{
    border: rgba(121, 166, 156, 0.765) solid;
}

.search {
    display: flex;
    flex-wrap: wrap;
}

.integrantes{
    margin-top: 40px;
}

@media (max-width: 390px){
    .indice{
        margin-top: 20px;
    }
    .ted{
        margin-bottom: 20px;
    }
    .mesi{
        margin-bottom: 20px;
    }
    .jobs{
        margin-bottom: 20px;
    }
    .search{
        justify-content: center;
        align-items: center;
    }
    .integrantes{
        margin-top: 20px;
    }
}