.peliculaspopulares{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seriespopulares{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lomasvistoenpeliculas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

body{
    background-color: black;
}

h1{
    color: white;
}

h2{
    color: white;
}

footer {
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

form{
    text-align: right;
}

.logo{
    color: aliceblue;
}

article{
    border: rgba(121, 166, 156, 0.765) solid;
}

input[type="text"]{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}

.Buscador{
    border:  rgba(121, 166, 156, 0.765) solid;
    font-size: 20px;
}